@font-face {
  font-family: 'iconfont';
  src: url('#{$static}/font/iconfont.eot'); /* IE9 */
  src: url('#{$static}/font/iconfont.eot') format('embedded-opentype'),
    url('#{$static}/font/iconfont.woff') format('woff'),
    url('#{$static}/font/iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('#{$static}/font/iconfont.svg')
      format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-size: 16px;
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ::before {
  content: '\e819';
}

.icon-github1::before {
  content: '\e6e5';
}

.icon-juejin::before {
  content: '\e600';
}

.icon-youxiang::before {
  content: '\e68b';
}

.icon-top::before {
  content: '\e61f';
}

.icon-github::before {
  content: '\e718';
}

.icon-error::before {
  content: '\e617';
}

.icon-success::before {
  content: '\e6ed';
}

.icon-shuaxin::before {
  content: '\e704';
}

.icon-shuaxin2::before {
  content: '\e6a7';
}

.icon-guanji::before {
  content: '\e643';
}

.icon-close2::before {
  content: '\e636';
}

.icon-logo4::before {
  content: '\e60e';
}

.icon-logo3::before {
  content: '\e60d';
}

.icon-logo2::before {
  content: '\e60c';
}

.icon-logo1::before {
  content: '\e60b';
}

.icon-logo::before {
  content: '\e604';
}

.icon-eye::before {
  content: '\e6a8';
}

.icon-like::before {
  content: '\e6a0';
}

.icon-play::before {
  content: '\e60a';
}

.icon-wechat::before {
  content: '\e685';
}

.icon-menu::before {
  content: '\e866';
}

.icon-pause::before {
  content: '\e63f';
}

.icon-text::before {
  content: '\e6af';
}

.icon-close::before {
  content: '\e608';
}
